<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="none">
  <test name="Test">
  <groups>
  <run>
  <include name="RandomPlayer_TestCase001"></include>
  </run>
  </groups>
    <classes>
      <class name="com.game.test.RandomPlayer_TC001"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
